<footer class="post-info">

{% if article.contributors %}
        {% for contributor in article.contributors %}
                <i class="icon-user" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
                <a href="{{ SITEURL }}/{{ contributor }}.html"> {{ contributor }} </a>
                
        {% endfor %}
{% endif %}
{% if article.contributor %}
        <i class="icon-user" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
        <a href="{{ SITEURL }}/{{ article.contributor }}.html"> {{ article.contributor }} </a>
{% endif %}

{% if article.project %}
        <i class="icon-edit" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
        <a href="{{ SITEURL }}/{{ article.project }}.html"> {{ article.project }} </a>
{% endif %}


<i class="icon-folder-open" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
<a href="{{ SITEURL }}/{{ article.category.url }}" style="margin-right: 0.6rem;">{{ article.category }}</a>

{% if PDF_PROCESSOR %}
<span class="label" style="margin-right: 0.3rem;">
<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf" style="margin-right: 0.6rem;">PDF</a>
</span>
{% endif %}

{% if article.tags %}
{% for tag in article.tags %}
        <i class="icon-tag" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
{% endfor %}
{% endif %}

{% if article.translations %}
<i class="icon-edit" style="margin-right: 0.2rem; color: #1C2E4E;"></i>
{% for translation in article.translations %}
	<a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
{% endfor %}
{% endif %}

</footer><!-- /.post-info -->
