<div class="nav nav-list">
    {% if LINKS %}
    <h4 style="margin-top: 0.5em">Blogroll</h4>
    {% for name, link in LINKS %}
    <div style="padding: 0.3rem 1rem;"><a href="{{ link }}"><i class="icon-external-link" style="margin-right: 0.3rem;"></i>{{ name }}</a></div>
    {% endfor %}
    {% endif %}

    {% if SOCIAL %}
    <h4 style="margin-top: 0.5em">Social</h4>

    {% if FEED_ALL_ATOM %}
    <div style="padding: 0.3rem 1rem;"><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">atom feed</a></div>
    {% endif %}

    {% if FEED_RSS %}
    <div style="padding: 0.3rem 1rem;"><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">rss feed</a></div>
    {% endif %}

    {% for name, link in SOCIAL %}
    <div style="padding: 0.3rem 1rem;"><a href="{{ link }}">{{ name }}</a></div>
    {% endfor %}
    {% endif %}

    <h4 style="margin-top: 0.5em">Categories</h4>
    {% for cat, null in categories %}
    <div style="padding: 0.3rem 1rem;">
        <a href="{{ SITEURL }}/{{ cat.url }}">
            {{ cat }}
        </a>
    </div>
    {% endfor %}

    <h4 style="margin-top: 0.5em">Tags</h4>
    {% for tag in tag_cloud %}
    <div style="padding: 0.3rem 1rem;" class="tag-{{ tag.1 }}">
        <a href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 }}
        </a>
    </div>
    {% endfor %}

    {% include 'twitter_profile.html' %}
    {% include 'search_sidebar.html' %}

    {% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
    {% endif %}
</div>
