{% block content %}
<h4><i class="icon-tags icon-large"></i>
	Tags
</h4>
<ul>
	{% for tag, article in tags %}
		<li>
			<div style="display: inline-block; padding-right: 20px;">
				<a href="{{ SITEURL }}/{{ tag.url }}">
					{{ tag }}
				</a>
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}
